<div class="bckgrnd1">
	<%= image_tag("backgroundshop.png") %>
</div>
<div class="bluecircle">
	<p>Quick & Easy Sign Up!</p>
</div>
<div class="bluecircle1">
	<p>Schedule, Pay, & Tip Online!</p>
</div>
<div class="bluecircle2">
	<p>Save time! Reserve your spot!</p>
</div>
<div class="space">
	<h1>Book With Us Now!</h1>
	<a href="">
		<div class="btn">
			Check Openings
		</div>
	</a>
</div>