<div class="bckgrnd11">
	<%= image_tag("backgroundshop.png") %>
</div>
<div data-aos="fade-right" class="bluecircle" >
	<p>Quick & Easy Sign Up!</p>
</div>
<div class="bluecircle1" data-aos="fade-up">
	<p>Schedule, Pay, & Tip Online!</p>
</div>
<div class="bluecircle2" data-aos="fade-left">
	<p>Save time! Reserve your spot!</p>
</div>
<div class="space" >
	<h1>Book With Us Now!</h1>
	<a href="">
		<div data-aos="zoom-in" class="btn-large">
			Check Openings
		</div>
	</a>
</div>