@import url('https://fonts.googleapis.com/css?family=Raleway:400,500&subset=latin-ext');
body#overrides{
	font-family: 'Raleway', sans-serif;
}
#overrides nav{
	background-color: transparent;
	border: none;
	box-shadow: none;
}
ul.nav.navbar-nav.navbar-right a{
	display: inline-block;
	font-size: 14px;
	color: #e6f2ff;
}
ul.nav.navbar-nav.navbar-right a:hover {
	color: white;
}
.bckgrnd1 img {
	width: 1280px;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}
.nav1 {
	width: auto;
	height: 100px;
	text-align: center;
	padding-top: 10px;
	position: absolute;
	top: 0;
	left: 45.5%;
}
.nav1 img {
	width: 120px;
	height: auto;
}

.footer {
	width: 100%;
	height: auto;
	padding: 20px 0;
	background-color: black;
	position: relative;
	bottom: 0;
	color: #ffe6e6;
	text-align: center;
	z-index: -1;
}
.footer p {
	margin-bottom: 0;
}
.form {
	position: absolute;
	top: 10px;
	width: auto;
	height: auto;
	right: 20px;
}
.form a {
	color: white;
	margin-right: 10px;
}
.form a:hover {
	text-decoration: none;
	color: red;

}
.bluecircle {
	/* Oval: */
	width: 250px;
	height: 250px;
	border-radius: 100%;
	opacity: 0.83;
	background: #083F80;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	position: absolute;
	bottom: -100px;
	text-align: center;
	color: white;
	font-size: 35px;
	left: 10%;
	padding: 45px;
}
.bluecircle p {
	margin-bottom: 0;
}
.bluecircle1{
	/* Oval: */
	width: 250px;
	height: 250px;
	border-radius: 100%;
	opacity: 0.83;
	background: #083F80;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	position: absolute;
	bottom: -100px;
	text-align: center;
	color: white;
	font-size: 35px;
	left: 40.5%;
	padding: 45px;
}
.bluecircle1 p {
	margin-bottom: 0;
}
.bluecircle2 {
	/* Oval: */
	width: 250px;
	height: 250px;
	border-radius: 100%;
	opacity: 0.83;
	background: #083F80;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	position: absolute;
	bottom: -100px;
	text-align: center;
	color: white;
	font-size: 33px;
	left: 70%;
	padding: 45px 35px;
}
.bluecircle2 p {
	margin-bottom: 0;
}
.space {
	height: 200px;
	width: 100%;
	margin-top: 700px;
	background-color: white;
	text-align: center;
}
.space h1 {
	font-size: 30px;
	margin-bottom: 40px;
}
form#new_user.new_user {
	width: 100%;
	height: auto;
	padding: 0 35%;
}
h2#signup {
	text-align: center;
}
.field label {
	font-size: 15px;
}
.field {
	font-size: 15px;
}
.links {
	text-align: center;
	margin-bottom: 200px;
}
input#user_email, input#user_password, input#user_password_confirmation {
	font-size: 15px;
}
footer.page-footer {
	background-color: #083F80 !important;
}

.logform {
	width: auto;
	height: auto;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 10px;
}











